* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
}

body *,
#container p,
#container a {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  max-width: 588px;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 56px;
  padding: 24px;
}

#profile img {
  width: 112px;
  display: block;
  margin: 0 auto;
  margin-bottom: -19px;
}

#container p {
  margin: 8px 0;
  padding: 24px;
  font-weight: bold;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 64px;
}

#switch {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  margin-top: -20px;
  left: 0;
  transition: transform 0.3s ease;
  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch-container span {
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  font-size: 24px;
}

#social-links a {
  margin: 0 8px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: background 0.3s, transform 0.3s;
}

#social-links a:hover {
  background: var(--hightlight-color);
  border-radius: 50%;
  transform: scale(1.2);
}

footer {
  padding: 6px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: -20px;
}

/* Media Queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* Animação */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
